.main {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.main .bg {
  height: 60%;
  background-color: white;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("images/bg1.jpg");
  background-attachment: fixed;
}
.searchIcon{
  text-shadow: 0px -1px 3px rgba(0, 0, 0, 0.8);

    color : white;
  text-align: center;
}
.main .footer {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: .1rem;
  color : white;
  background-color: #6F4E37;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
}



.main-title h1 {
  font-size: 4rem;
}

.main-title h3 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
}
.contents{
  background-color: rgb(243, 243, 243);
  color: rgba(108, 93, 81, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.main-title {
  top: 3rem;

text-shadow: 0px -1px 3px rgba(0, 0, 0, 0.8);
  max-width: 18.5rem!important;
  color : white;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: .1rem;
}
