.advance-search{
  background-color: white;
  background-clip: content-box;
  box-shadow : 1px 1px 2px #ddd;
  margin-top:1rem;

}
.slider{
  margin: 0 auto;
  width: 70%;
}
.yuan{
  font-size: 50%;
}
.p{
  margin-top: -2rem;
}
