.reference{
  width:100%;
  padding-bottom: 2rem;
}
.description-col{
  margin-top:1rem;
}
.wrapper-title{
  background-color: rgb(202, 80, 39);
  background-image: url("images/coffee.jpg");
  background-size: cover;
  -o-background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color : white;
  width:100%;
  background-clip: content-box;
  box-shadow : 1px 1px 2px #ddd;

}
.title-image{
  padding: 2%;

  border-radius: 2rem;
  background-clip:         padding-box;
}
.store-name{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  display: inline-block;
  text-shadow: 1px 1px rgb(101, 101, 101);
  margin-left: 1rem;
}
.post-list{
  width: 100%;
  margin-bottom:1rem;
  margin-top:1rem;
  font-family: 'Roboto', sans-serif!important;
  font-weight: 300!important;

}
.postList{
  margin-bottom:1rem;
}
.store-attributes{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  display: inline-block;
    margin-left: 1rem;
  text-shadow: 1px 1px rgb(101, 101, 101);
}
.post-form{
  margin: 0 auto;
  padding-bottom: .5rem;
  text-align: center;
}
.text{
  background-color: rgba(0, 0, 0,0.2);
  
}
.map{
  height: 100%;
  width:100%;
  z-index: 0;
  overflow: auto;
  position:absolute;
}
